<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Gruntのテスト</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
  </head>
  <body>
    <section class="sample">
      <h1>Gruntのサンプル</h1>
      <p class="sample__text">これは<span class="red">Grunt</span>のサンプルです。(更新日:@@revision)</p>
    </section>
  <!-- bower:js -->
  <script src="../../bower_components/jquery/dist/jquery.js"></script>
  <!-- endbower -->
  </body>
</html>